.shopping-cart {
    width: 50px; 
    position: fixed; 
    right: 0; 
    top: 50px;
    transition: width 0.5s; 
}

.cart-icon {
    width: 100%;
}

.cart-items {
    display: none;
    background-color: white;
    padding: 10px;
}

.shopping-cart:hover {
    width: 200px; 
}

.shopping-cart:hover .cart-items {
    display: block; 
}

div.product {
    border: 1px solid #ccc;
    background: #f9f9f9; /* 輕微的灰色背景 */
    padding: 20px; /* 增加内边距 */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}