body {
    font-family: Arial, sans-serif;
    background-color: #D2E9FF;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

p {
    color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.no-underline {
    text-decoration: none;
    margin-bottom: 20px;
}


img {
    max-width: 100%;
    height: auto;
}

.individual-rounded-div {
    border: 1px solid #ccc; /* 边框颜色和宽度 */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 15px; /* 四个角都是圆角 */
    display: flex;
    justify-content: center;
}