<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Admin 管理頁面</title>
</head>
<body>
    <a href="product_get.html">product_get</a><br>
    <a href="product_post.html">product_post</a><br>
    <a href="product_delete.html">product_delete</a><br>
    <a href="product_get_all.html">product_get_all</a><br>
    <a href="product_put.html">product_put</a><br>
    <a href="store_check_order.html">store_check_order</a><br><br>
    <button id="signoutButton">登出</button>
    <script src="/static/signout.js"></script>
</body>
</html>