<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/button.css">
    <title>Admin 管理頁面</title>
</head>
<body>
    <div class="nav-buttons-container">
        <a href="product_get.html" class="nav-button">商品資訊</a><br>
        <a href="product_post.html" class="nav-button">新增商品</a><br>
        <a href="product_delete.html" class="nav-button">刪除商品</a><br>
        <a href="product_get_all.html" class="nav-button">預覽所有商品</a><br>
        <a href="product_put.html" class="nav-button">更新商品</a><br>
        <a href="store_check_order.html" class="nav-button">查看訂單</a><br><br>
        <button id="signoutButton" class="nav-button">登出</button>
    </div>
    <script src="/static/signout.js"></script>
</body>
</html>