<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Product Information</title>
    <link rel="stylesheet" href="/static/get.css">
</head>
<body>
    <h1>Query Product</h1>
    <a href="/redirect" style="margin-bottom: 20px;">Return to Home</a><br><br>
    <input type="text" id="productName" placeholder="Enter product name">
    <button onclick="fetchProductInfo()">Query Product</button>

    <div id="productInfo"></div>
    <script src="/static/get.js"></script>
</body>
</html>