<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Product Form</title>
</head>
<body>
    <!-- 鏈接到其他HTML頁面 -->
    <a href="get.html">Go to get</a><br>
    <a href="post.html">Go to post</a><br>
    <a href="delete.html">Go to delete</a><br>
    <a href="get_all.html">Go to get_all</a><br>
    <a href="put.html">Go to put</a><br>
    <a href="register.html">Go to register</a><br>
    <a href="login.html">Go to login</a><br>
    <a href="user_put.html">Go to user_put</a><br>
    <a href="user_get.html">Go to user_get</a><br>
    <a href="user_delete.html">Go to user_delete</a><br>
</body>
</html>