<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query All Products</title>
    <link rel="stylesheet" href="/static/product_get_all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
        .test{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>All Products</h1>
        <a href="/redirect" style="margin-bottom: 20px;">Return to Home</a><br><br>
        <button onclick="fetchAllProducts()">Show All Products</button>
        <div id="productsInfo"></div>
    </div>
    <script src="/static/product_get_all.js"></script>
</body>
</html>
