<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>刪除商品</h1>
    <a href="/redirect" class="no-underline">Return to Home</a><br><br>
    <form id="deleteForm">
        <label for="productName">刪除商品的名稱:</label>
        <input type="text" id="productName" name="productName" required>
        <button type="submit">刪除</button>
    </form>
    <script src="/static/product_delete.js"></script>
</body>
</html>
