<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>註冊新用戶</title>
    <!-- 必須要存在下列連結 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
    <h1>註冊新用戶</h1>
    <a href="/redirect" style="margin-bottom: 20px;">Return to Home</a><br><br>
    <form id="userForm">
        <div>
            <label for="username">用戶名稱:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="email">電子郵件:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">註冊</button>
    </form>

    <div id="responseMessage"></div>
  
    <script src="/static/register.js"></script>
</body>
</html>
