<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表與購物車</title>
    <link rel="stylesheet" href="/static/cart.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="shopping-cart" id="cart">
        <img src="static/cart.jpg" alt="Cart" class="cart-icon">
        <div class="cart-items" id="cartItems">
        </div>
        <p id="totalPrice" style="padding: 10px; background-color: white; box-shadow: 0 0 5px #ccc;">總金額: $0</p> 
    </div>

    <h1>商品列表</h1>
    <a href="/redirect" style="margin-bottom: 20px;">Return to Home</a><br><br>
    <div>
        {% for product in products %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <img src="{{ product.main_image_url }}" alt="{{ product.name }}" style="width: 100px; height: auto;">
            <h2>{{ product.name }}</h2>
            <p>品牌：{{ product.brand }}</p>
            <p>類別：{{ product.category }}</p>
            <p>價格：${{ product.price }}</p>
            <p>庫存：{{ product.stock }}</p>
            <form action="/add_to_cart" method="post" class="add-to-cart-form" data-product-name="{{ product.name }}">
                <input type="number" name="quantity" value="1" min="1" max="99" class="quantity-input">
                <button type="submit">加入購物車</button>
            </form>            
        </div>
        {% endfor %}
    </div>
    <script src="/static/add_to_cart.js"></script>
    <script src="/static/cart_get.js"></script>
</body>
</html>