<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
    <h1>Delete User</h1>
    <a href="/redirect" style="margin-bottom: 20px;">Return to Home</a><br><br>
    <form id="deleteForm">
        <label for="userName">Enter user Name:</label>
        <input type="text" id="userName" name="userName" required>
        <button type="submit">Delete User</button>
    </form>
    <script src="/static/user_delete.js"></script>
</body>
</html>